body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #1d3557;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

header .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav {
    background-color: #457b9d;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #a8dadc;
}

.hero {
    background: linear-gradient(to bottom right, #1d3557, #457b9d);
    color: white;
    padding: 100px 0;
    text-align: center;
    position: relative;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
    padding: 20px;
}

.hero p {
    font-size: 1.2em;
    margin: 0;
    padding: 20px;
}

.hero .btn {
    background-color: #a8dadc;
    color: #1d3557;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.hero .btn:hover {
    background-color: #f1faee;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

h2 {
    color: #1d3557;
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
}

.about, .tokenomics, .community, .roadmap, .faq, .contact {
    background-color: white;
    margin: 20px 0;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
}

.about:hover, .tokenomics:hover, .community:hover, .roadmap:hover, .faq:hover, .contact:hover {
    transform: translateY(-5px);
}

.tokenomics-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.tokenomics-item {
    flex: 1 1 calc(33.333% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #f4f7f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.tokenomics-item:hover {
    transform: translateY(-5px);
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-link {
    color: #1d3557;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-link:hover {
    color: #a8dadc;
}

footer {
    background-color: #1d3557;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
